# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Edit files
*.swp

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
/z80
/test/z80test

# ROM files
*.rom
*.z80

compile_commands.json
.cache/
